.bar {
  cursor: pointer;
  fill: rgb(78, 146, 201);
  transition: fill 0.3s;

  &:hover {
    fill: rgb(50, 106, 151);
  }
}

.hover-rect {
  cursor: pointer;
  opacity: 0;
}

.bar-label {
  font-size: 12px;
}

.x-axis text {
  font-size: 12px;
  pointer-events: none;
  text-anchor: start;
  transform: rotate(45deg);
}

.y-axis text {
  font-size: 20px;
  font-weight: bold;
  pointer-events: none;
  text-anchor: middle;
}
