.inputs {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  height: 30px;
  justify-content: center;
  margin: 5px 0;
  width: 100%;

  & > * {
    margin-right: 5px;

    &:disabled {
      color: #cdcdcd;
    }
  }

  & > *::last-child {
    margin-right: 0;
  }
}

#subreddit-input {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  height: 100%;
  margin-right: 5px;
  padding: 0 8px;
  width: 200px;

  &::placeholder {
    font-size: 13px;
  }
}

.suggestions {
  background: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  height: 30px;
  overflow: hidden;
  padding: 8px 10px;
  transition: all 0.4s;
  z-index: 1;

  &:hover {
    background-image: none;
    box-shadow: 1px 1px 8px rgba($color: black, $alpha: 0.5);
    height: 122px;

    & h1 {
      font-weight: bold;
      pointer-events: none;
    }
  }

  & > div {
    display: flex;
    justify-content: space-between;
  }

  & h1 {
    margin-bottom: 8px;
  }

  & > ul {
    display: flex;
    flex-direction: column;
  }

  & li {
    cursor: pointer;
    font-weight: 300;
    margin-bottom: 5px;

    &:active {
      background: lightgrey;
    }
  }

  & li:last-child {
    margin-bottom: 0;
  }
}

.submit {
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba($color: black, $alpha: 0.3);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    box-shadow: none;
    left: 3px;
    position: relative;
    top: 3px;
  }
}
