.inputs {
  display: flex;
  font-size: 13px;
  font-weight: 400;
  justify-content: center;
  margin: 5px 0;
  width: 100%;

  > * {
    margin-right: 5px;

    &::last-child {
      margin-right: 0;
    }

    &:disabled {
      color: #cdcdcd;
    }
  }

  @include tablet {
    flex-wrap: wrap;

    > * {
      margin-bottom: 5px;
    }
  }
}

#subreddit-input {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 300;
  height: 30px;
  margin-right: 5px;
  padding: 0 8px;
  width: 200px;

  &::placeholder {
    font-size: 13px;
  }

  @include tablet {
    width: auto;
  }
}

#sort-input,
#suggestions {
  background-color: white;
  border-radius: 5px;
  height: 30px;
}

#date-range {
  height: 30px;
}

.submit {
  border-radius: 5px;
  box-shadow: 3px 3px 6px rgba($color: black, $alpha: 0.3);
  cursor: pointer;
  font-size: 13px;
  font-weight: 500;
  height: 30px;

  &:hover {
    filter: brightness(80%);
  }

  &:active {
    box-shadow: none;
    left: 3px;
    position: relative;
    top: 3px;
  }
}
