body {
  background: rgb(210, 220, 230);
  font-family: 'Roboto', sans-serif;
}

header {
  align-items: center;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-bottom: 5px;
  padding: 10px 0;
  position: relative;

  > h1 {
    font-size: 28px;
  }

  > a {
    left: 10px;
    padding: 10px;
    position: absolute;
  }
}

.links {
  align-items: center;
  background: white;
  bottom: 0;
  display: flex;
  height: 5vh;
  justify-content: center;
  position: fixed;
  width: 100%;

  > * {
    margin-right: 60px;
    padding: 5px;
  }

  &::last-child {
    margin-right: 0;
  }
}

footer > a {
  bottom: 0;
  color: white;
  font-size: 1px;
  position: fixed;
}

main {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.instructions {
  background: white;
  border-radius: 5px;
  padding: 8px;

  h1 {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 4px;
  }

  ul {
    display: flex;
    flex-direction: column;
    font-weight: 300;
  }

  li {
    font-size: 16px;
    list-style-type: square;
    margin-bottom: 3px;
    margin-left: 22px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

a:hover {
  outline: lightblue solid 2px;
}
